name: Go package

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.14'

      - name: Install dependencies
        run: |
          go get github.com/go-telegram-bot-api/telegram-bot-api/v5@v5.5.1
          go get github.com/stretchr/testify@v1.8.4
          go get github.com/davecgh/go-spew@v1.1.1
          go get github.com/pmezard/go-difflib@v1.0.0
          go get github.com/stretchr/objx@v0.5.0
          go get gopkg.in/yaml.v3@v3.0.1
          go install github.com/vektra/mockery

      - name: Generate mocks
        run: mockery

      - name: Build
        run: go build -v ./...

      - name: Test
        run: go test -v ./...
